<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GlobalHook.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <userSettings>
    <GlobalHook.Properties.Settings>
      <setting name="radAutoSaveState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="radManualSaveState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tbSavePathState" serializeAs="String">
        <value>C:\KeyMouseData</value>
      </setting>
      <setting name="tbTimeState" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="chkKeyState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="chkMouseState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="radYesState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="radNoState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="lblKeyState" serializeAs="String">
        <value>A, Alt</value>
      </setting>
      <setting name="tbSetKeyState" serializeAs="String">
        <value/>
      </setting>
      <setting name="tbName" serializeAs="String">
        <value>KeyMouseData</value>
      </setting>
      <setting name="rbMin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="rbMax" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chkSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="chkHide" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="chkBootRun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chkHideRun" serializeAs="String">
        <value>False</value>
      </setting>
    </GlobalHook.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <connectionStrings>
    <add name="localdb" connectionString="Data Source=|DataDirectory|\WareHouse/WareHouse_local.db;Version=3;UseUTF16Encoding=True;"
      providerName="System.Data.SQLite.SQLiteFactory"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <log4net>
    <root>
      <level value="WARN"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <logger name="GlobalHook.Logging">
      <level value="DEBUG"/>
    </logger>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="log-file.txt"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header] "/>
        <param name="Footer" value="[Footer] "/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x]  - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG"/>
        <param name="LevelMax" value="WARN"/>
      </filter>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
  </log4net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6"
        description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
    <remove invariant="System.Data.SQLite"/><add name="SQLite Data Provider" invariant="System.Data.SQLite"
      description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/></DbProviderFactories>
  </system.data>
</configuration>